@page "/"
@using QueBox.Services
@using QueBox.Models
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<main role="main">

    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Andres Goez</h2>
                <p>Desarrollador de Interfaz (UI), Manager de Proyecto, Administrador.</p>

            </div><div class="col-lg-4">
                <img class="rounded-circle" src="/images/perfil santi.webp" alt="Generic placeholder image" width="140" height="140">
                <h2>Santiago Garces</h2>
                <p>Desarrollador de Interfaz (UI), Desarrollador Principal, Inscriptor de Base de Datos.</p>

            </div><div class="col-lg-4">
                <img class="rounded-circle" src="/images/perfil jhojan.webp" alt="Generic placeholder image" width="140" height="140">
                <h2>Estiven Perez</h2>
                <p>Desarrollador de Interfaz (UI), Inteligencia en Ciberseguridad, Integración de API REST.</p>

            </div>
        </div><hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">La Primera Impresión: <span class="text-muted">Diseño 3D Ilimitado.</span></h2>
                <p class="lead">
                    QueBox te permite dar forma a tu visión con un potente visualizador 3D. Define estructuras complejas y da rienda suelta a tu imaginación con el control total de cada dimensión y capa.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto rounded shadow-sm" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/diseno caja.png" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Adaptable a Negocios. <span class="text-muted">Personaliza para tu Marca.</span></h2>
                <p class="lead">
                    Crea cajas con las dimensiones y características exactas que necesitas. Sube tus propias imágenes y logotipos para personalizar cada capa, asegurando que el empaque cumpla con los estándares de tu empresa.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto rounded shadow-sm" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/Capas.png" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Acceso Constante. <span class="text-muted">Visualiza tus Diseños Cuando Quieras.</span></h2>
                <p class="lead">
                    Todos tus diseños son guardados automáticamente en tu perfil de usuario. Puedes acceder a ellos y a su visualización 3D detallada en cualquier momento para revisiones, modificaciones o seguimiento.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto rounded shadow-sm" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/Diseno.png" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="text-center py-5">
            <h2 class="mb-4">Transforma tu visión de empaque en un diseño real hoy.</h2>
            <a href="/Login" class="btn btn-success btn-lg fw-bold shadow-lg" style="padding: 1rem 2rem; font-size: 1.5rem;">
                Diseñar mi Primera Caja <i class="bi bi-arrow-right"></i>
            </a>
        </div>

    </div>
</main>