@page "/login"
@using QueBox.Models
@using QueBox.Services
@using QueBox.Web.Auth
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProviderBase 
@inject UsuarioService UsuarioService
@inject NavigationManager NavigationManager

<main>
    <h1>Login</h1>

@code {

    public class LoginModel
    {
        public string Nombre { get; set; } = string.Empty;
        public string Clave { get; set; } = string.Empty;
    }
}

    <EditForm class="row g-3" Model="@editingUsuario" OnValidSubmit="@HandleLogin">
        @* <DataAnnotationsValidator /> *@
        @* <ValidationSummary /> *@

        <div class="mb-3 col-md-12">
            <label for="username" class="form-label"> Nombre:</label>
            <InputText id="username" @bind-Value="editingUsuario.Nombre" class="form-control" />
        </div>

        <div class="mb-3 col-md-12" >
            <label for="password" class="form-label">Clave:</label>
            <InputText type="password" id="password" @bind-Value="editingUsuario.Clave" class="form-control" />
        </div>

        <button type="submit" class="row col-md-3 btn btn-primary mx-auto">Login</button>

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p class="text-danger">@ErrorMessage</p>
        }
    </EditForm>

    <NavLink class="row link mx-auto" href="register">
        <!-- <span class="mb-2" aria-hidden="true"></span> Registrarse -->
        Registrarse
    </NavLink>

</main>

@code {

    private LoginModel editingUsuario = new LoginModel();
    private string ErrorMessage = string.Empty;

    private async Task HandleLogin()
    {

        var usuarioLogeado = await UsuarioService.ValidateLoginAsync(editingUsuario.Nombre, editingUsuario.Clave);

        if (usuarioLogeado != null)
        {
            var customProvider = (CustomAuthenticationStateProvider)AuthStateProviderBase;

            customProvider.MarkUserAsAuthenticated(usuarioLogeado.Id_Usuario.ToString(), usuarioLogeado.Nombre);

            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            ErrorMessage = "Nombre de usuario o contraseña incorrectos.";
        }
    }
}