@page "/usuarios"
@using QueBox.Services
@using QueBox.Models

@inject UsuarioService UsuarioService
@inject IJSRuntime JS

<PageTitle>Usuarios</PageTitle>

<h1>Usuarios</h1>

<p>El comentario de desesperasao.</p>

@if (isLoading)
{
    <p>Cargando...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre usuario</th>
                <th>Editar Nombre</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
                <tr>
                    <td>
                        <span class="mb-2" aria-hidden="true"></span> @usuario.Nombre
                    </td>
                    <td>

                        <button class="btn btn-sm btn-warning">Cambiar nombre</button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Usuario> usuarios = new();
    private Usuario? editingUsuario;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await UsuarioService.GetUsuariosAsync();
        isLoading = false;
    }
}
