@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QueBox.Web</a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>

                <AuthorizeView Policy="AuthenticatedUser">
                    <Authorized>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="caja">
                                Caja
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="disenos">
                                Diseños
                            </NavLink>
                        </li>

                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Policy="RequireAdminId">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="usuarios">
                                Usuarios admin
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>

            </ul>

            <ul class="navbar-nav">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="logout">Cerrar Sesión</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="login">Logearse</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="register">Registrarse</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>

        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}